<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<nav th:replace="layouts :: header"></nav>
<nav th:replace="layouts :: navbar"></nav>

<body>
    <div class="container">
        <h3>Main Dashboard</h3>
        <a th:text="${versionNumber}"></a>
        <hr>
        <h4> Current Projects </h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th> Project Name </th>
                            <th> Project Stage </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="aProject : ${projects}">
                            <td th:text="${aProject.name}"></td>
                            <td th:text="${aProject.stage}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <canvas id="pieChart" height="50" width="50"></canvas>
                <script>
                    var  chartData = "[[${projectStagesCount}]]"
                </script>
            </div>
        </div>
    </div>

    <div class="container">
        <h4> Current Employees </h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Project Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="anEmployeeProject : ${employeeProjects}">
                            <td th:text="${anEmployeeProject.firstName}"></td>
                            <td th:text="${anEmployeeProject.lastName}"></td>
                            <td th:text="${anEmployeeProject.projectCount}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:src="@{js/pieChart.js}"></script>
</body>
</html>