<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <nav th:replace="layouts :: header"></nav>

    <body>
        <nav th:replace="layouts :: navbar"></nav>

        <div>
            <h4> Current Employees </h4>
            <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
                New Employee
            </a>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Project Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="anEmployeeProject : ${employeeProjects}">
                        <td th:text="${anEmployeeProject.firstName}"></td>
                        <td th:text="${anEmployeeProject.lastName}"></td>
                        <td th:text="${anEmployeeProject.email}"></td>
                        <td th:text="${anEmployeeProject.projectCount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>