<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <nav th:replace="layouts :: header"></nav>

    <body>
        <nav th:replace="layouts :: navbar"></nav>
        <div>
            <h4> Current Projects </h4>
            <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
                New Project
            </a>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th> Project Name </th>
                    <th> Project Stage </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aProject : ${projects}">
                    <td th:text="${aProject.name}"></td>
                    <td th:text="${aProject.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>